/*主页样式*/
/*导航一*/
.navfirst{
    width: 100%;
    height: 40px;
    line-height: 40px; /*行高垂直居中*/
    background-color: #333;
    color: #b0b0b0;
}
.navfirst_l ,.navfirst_body li{
    float: left;
}
.navfirst_r,.navfirst_cart{
    float: right;
}
/**/
.navfirst_body a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
.navfirst_body a:hover{
    color: #fff;
}
.navfirst_body .line{
    font-size: 12px;
    color: #424242;
    margin:0 7px;
    margin-top: -1px;
}
/**/
.navfirst_cart{
    margin-left: 26px;
}
.navfirst_cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}
.navfirst_cart i{
    margin-right: 2px;
}
.navfirst_cart:hover a{
    background-color: #fff;
    color: #ff6700;
}
/**/
.app{
    position: relative;
}
.app::after{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color:#fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.app .qrcode{
    position:absolute;
    width: 124px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;/*height变化时*/
    line-height: 1;/*span继承的行高清零*/
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,15%);
    left: -40px;
    background-color: #fff;
    z-index: 100;
}
.app:hover .qrcode,.app:hover::after{
    display: block;
    height: 148px;
}
.app .qrcode img{
    width: 90px;
    margin: 17px 17px 10px 17px;
}
.app .qrcode span{
    color: #000;
    font-size: 14px;
}
/**/
.cart{
    position: relative;
}
.cart .blank{
    position: absolute;
    width: 316px;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    line-height: 100px;
    left: -194px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0,0,0,15%);
    transition: height 0.3s;
    z-index: 98;
}
.cart:hover .blank{
    height: 100px;
}
.cart .blank span{
    color: #000;
}

/*头部*/
.header{
    height: 100px;
}
.header .logo:hover > a{
    margin-left: 0.3px;
    margin-right: -0.3px;
    background-size: 99.5% 100%;
}
.header .logo{
    float: left;
    margin-top: 22.5px;
}
.header .logo a{
    display: block;
    width: 56px;
    height: 56px;
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-position: center;
}
/*导航二*/
.header{
    position: relative;
}
.navsecond{
    float: left;
}
.navsecond .navsecond_body{
    height: 100px;
    line-height: 101px;
    padding-left: 72px;
}
.navsecond_body > li{
    float: left;
}
.navsecond_body .allgoods{
    visibility: hidden;
}
.navsecond_body li a{
    color: #000;
    display: block;
    font-size: 16px;
    margin-right: 20px;
}
.navsecond_body li a:hover{
    color: #ff6700;
}
.navsecond .navinfo{
    height: 0px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
    overflow: hidden;
    transition: height 0.5s;
    z-index: 99;
}
.navsecond_body li:not(:first-of-type,:last-of-type,:nth-of-type(9)):hover ~ .navinfo,.navinfo:hover{
    height: 228px;
    border-top: 1px solid rgb(224,224,224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 15%);
}
/*搜索*/
.search{
    float: right;
    margin-top: 25px;
}
.search .text{
    width: 225px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid rgb(224,224,224);
    border-right: 0px;
    float: left;
    outline: none;
}
.search .button{
    width: 52px;
    height: 50px;
    padding: 1px 6px;
    border: 1px solid rgb(224,224,224);
    background-color: #fff;
    color: #424242;
    float: left;
    outline: none;
}
.search .text:focus,.search .text:focus + button{
   border-color: #ff6700;
}
.search .button:hover{
    background-color: #ff6700;
    color: #fff;
    border:none;
    transition: background-color 0.3s;
}
/*导航三*/
.navthird{
    visibility: visible;
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105,101,101,.6);
    position:absolute;
    z-index: 97;
    left: -128px;
    line-height: 1;
}
.navthird li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    margin: 0;
    padding: 0 23.5px 0 30px;
    font-size: 14px;
}
.navthird a i{
    float: right;
    line-height: 42px;
    font-size: 20px;
    font-weight: 700;
}
.navthird li a:hover{
    color: #fff;
    background-color: #ff6700;
}
.goods{
    position: relative;
}
/*轮播图*/
.banner_body{
    position: relative;
    height: 460px;
}
.banner_body .imglist li{
    position: absolute;
}
.banner_body img{
    width: 100%;
    vertical-align: top;
}
.pointer{
    position: absolute;
    bottom: 22px;
    right: 35px;

}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    background-color:rgba(0, 0, 0, .4);
    border: 2px rgba(255,255,255,.3) solid;
    border-radius: 50%;
    margin:0 4px;
}
.prevnext a{
    width: 41px;
    height: 69px;
    background-image: url(../img/prevnext.png);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.pointer a:hover,.pointer a.active{
    border-color:rgba(0, 0, 0, .4);
    background-color:rgba(255,255,255,.3);
}
.prevnext .prev{
    left: 234px;
    background-position: -84px 0;
}
.prevnext .next{
    right: 0;
    background-position: -125px 0;
}
.prevnext .prev:hover{
    background-position:0 0;
}
.prevnext .next:hover{
    background-position:-42px 0;
}
/*回到顶部*/
.backtop{
    width: 26px;
    height: 206px;
    background-color: gray;
    position: fixed;
    bottom: 40px;
    right: 50%;
    margin-right: -639px;
}
/*广告条*/
div.at{
    height: 170px;
    margin-top: 14px;
}
.at .shortcut,.at .atimg,.at li{
    float: left;
}
.at .shortcut{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    margin-right: 14px;
}
.at .shortcut a{
    display: block;
    color: #cfccca;
    width: 76px;
    height: 84px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    padding-top: 18px;
}
.at .shortcut img{
    text-align: center;
}
.at .atimg li{
    width: 316px;
    margin-right: 15px;
}
.at .atimg li:last-child{
    margin-right: 0;
}
.at .atimg img{
    width: 100%;
    vertical-align: top;
}